*{
    margin: 0;
    padding: 0;
  }
  li{
    list-style: none
  }
  .app-title{
    text-align: center;
    padding: 10px 0;
  }
  #app{
    display: flex;
    justify-content: center;
  }
  .list{
    border: 1px solid rgb(2, 145, 228);
    width: 500px;
    margin: 10px;
  }
  .list h3{
    text-align: center;
    background: rgb(2, 145, 228);
    color: #ffffff;
    line-height: 46px;
  }
  .list li {
    line-height: 40px;
    border-bottom: 1px solid #eeeeee;
    cursor: pointer;
    transition: 0.5s;
    padding: 0 20px;
  }
  .list li:hover{
    background: #1ac4f9
  }
  .btnbox{
    text-align: center;
  }
  .btnbox .btn{
    width: 500px;
    height: 40px;
    margin: 10px auto;
    border-radius: 10px;
    background: #1ac4f9;
    color: #ffffff;
    line-height: 40px;
    cursor: pointer;
  }