$themeColor: #199475;

.box {
  width: 100%;
  height: 100%;
  text-align: center;
}

.btnBox {
  width: 100%;
  height: 100%;
  text-align: center;
}

.btn {
  height: 32px;
  line-height: 32px;
  letter-spacing: 1px;
  outline: none;
  display: inline-block;
  vertical-align: top;
  color: $themeColor;
  transition: all 0.4s;
  position: relative;
  font-size: 14px;
  border-radius: 4px;
  background: rgba(206, 235, 224, 0.3);
  box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.5);
  border: 1px solid $themeColor;
  cursor: pointer;
}

.am {
  overflow: hidden;
}

.amScale::before {
  background-color: #ceebe0;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1000px;
  opacity: 0;
  transition: all 0.6s;
}

.am::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
}

.amScale:hover::before {
  width: 120%;
  height: 200%;
  opacity: 1;
}

.am > span {
  position: relative;
  z-index: 2;
}
