.react-box {
  width: 100%;
  text-align: center;
}

.react-logo {
  width: 100px;
  height: 100px;
  animation: rotating 5s linear infinite;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
